:root {
  --main-color: #769fcd;
  --secondary-color: #f7fbfc;
  --main-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
  --main-button-border: 5px solid var(--main-color);
  --secondary-button-border: 5px solid var(--secondary-color);
  --button-padding: 12px 17px;
  --button-transition: all 0.2s ease-in-out;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--secondary-color);
}

.wrapper {
  overflow-x: hidden;
}

.navbar-brand {
  border: 5px solid var(--main-color);
  padding: 3px 10px;
  border-radius: 4px;
  background: var(--secondary-color);
  transition: var(--button-transition);
}

.navbar a.navbar-brand:hover {
  font-size: 25px;
}

.homepage-hero {
  font-family: var(--main-font-family);
  padding: 120px 50px;
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 40px;
}

h3 {
  font-size: 25px;
  margin-bottom: 30px;
}

.name {
  color: var(--main-color);
  font-size: 60px;
  font-weight: 800;
}

.about-me-short {
  background-color: var(--main-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  color: var(--secondary-color);
  padding-bottom: 70px;
}

.languages-list img {
  width: 70px;
  margin: 20px;
}

.projects-list img {
  width: auto;
  height: 350px;
}

.projects-showcase h2 {
  font-weight: bold;
}

#footer h2 {
  color: var(--secondary-color);
  padding-top: 20px;
  font-weight: 700;
}

.blue-button {
  border: var(--main-button-border);
  padding: var(--button-padding);
  text-decoration: none;
  color: var(--main-color);
  border-radius: 5px;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 600;
}

.white-button {
  border: var(--secondary-button-border);
  padding: var(--button-padding);
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 5px;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 600;
}

.homepage-hero a,
.see-more-button a,
.about-me-short a,
.contact-me a,
.projects-showcase a {
  transition: var(--button-transition);
}

.homepage-hero a:hover,
.see-more-button a:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 17px;
}

.about-me-short a:hover,
.contact-me a:hover,
.projects-showcase a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-weight: bolder;
  font-size: 17px;
}

.contact-me {
  background-color: var(--main-color);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  padding-top: 120px;
  padding-bottom: 120px;
  color: var(--secondary-color);
}

.index-page footer {
  background-color: #272637;
  padding: 30px;
}

.about-me-page footer,
.projects-page footer,
.contact-page footer {
  background-color: var(--main-color);
  margin: 60px 0 0;
}

.social-media a {
  margin: 20px;
  transition: var(--button-transition);
}

.social-media a:hover {
  transform: scale(1.1);
}

.about-me-section p,
.apps-info {
  background-color: var(--main-color);
  border-radius: 4px;
  opacity: 75%;
  color: var(--secondary-color);
  font-weight: 600;
  padding: 30px;
  box-shadow: 5px 5px 15px 5px #272637;
}

.apps-info {
  margin: 30px auto;
}

.work-inquiry {
  background-color: #d8e4f0;
  padding: 30px 40px;
}

.projects-page-header {
  padding: 50px 20px;
  font-size: 60px;
  text-align: center;
}

.contact-form h1 {
  margin: 30px;
  font-size: 45px;
  color: var(--main-color);
}

.contact-form,
.container-contact-form-btn {
  display: block;
  text-align: center;
}

form {
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form-btn {
  background-color: var(--main-color);
  border-color: var(--main-color);
  border-radius: 20px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 17px;
  transition: var(--button-transition);
  padding: 17px;
  margin-top: 20px;
}

.contact-form-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.arrow-up:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .about-me-short,
  .contact-me {
    clip-path: none;
  }
}

@media (max-width: 768px) {
  .about-me-paragraph {
    text-align: center;
  }
  h1 {
    font-size: 30px;
  }
  .name {
    font-size: 40px;
  }
  .homepage-hero a,
  .about-me a {
    font-size: 15px;
  }
  .languages-list img {
    width: 50px;
    margin: 10px;
  }
  .social-media i {
    font-size: 1.5em;
    margin: 10px;
  }
  .contact-me {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .projects-page-header {
    font-size: 30px;
    font-weight: 600;
  }
  .projects-showcase img {
    display: none;
  }
}
