:root {
  --main-color: #769fcd;
  --secondary-color: #f7fbfc;
  --main-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
  --main-button-border: 5px solid var(--main-color);
  --secondary-button-border: 5px solid var(--secondary-color);
  --button-padding: 12px 17px;
}

body {
  font-family: var(--main-font-family);
}

.wrapper {
  overflow-x: hidden;
}

.navbar {
  background-color: var(--secondary-color);
}

.navbar-brand {
  border: 5px solid var(--main-color);
  padding: 3px 10px;
  border-radius: 4px;
  background: var(--secondary-color);
}

.navbar-nav .nav-item .active {
  color: #769fcd;
  font-weight: bold;
}

.homepage-hero {
  font-family: var(--main-font-family);
  padding: 120px 50px;
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 40px;
}

h3 {
  font-size: 25px;
  margin-bottom: 30px;
}

.name {
  color: var(--main-color);
  font-size: 60px;
  font-weight: 800;
}

.homepage-hero a {
  border: var(--main-button-border);
  padding: var(--button-padding);
  text-decoration: none;
  color: var(--main-color);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 800;
}

.about-me {
  background-color: var(--main-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  color: var(--secondary-color);
  padding-bottom: 70px;
}

.about-me a {
  border: var(--secondary-button-border);
  padding: var(--button-padding);
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
}

.languages-list img {
  width: 70px;
  margin: 20px;
}

.projects-list img {
  width: auto;
  height: 350px;
}

.see-more-button {
  border: var(--main-button-border);
  padding: var(--button-padding);
  text-decoration: none;
  color: var(--main-color);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
}

.contact-me {
  background-color: var(--main-color);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  padding-top: 120px;
  padding-bottom: 120px;
  color: var(--secondary-color);
}

.contact-me a {
  border: var(--secondary-button-border);
  padding: var(--button-padding);
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
}

footer {
  background-color: #272637;
  padding: 30px;
}

.social-media i {
  margin: 20px;
}

@media (max-width: 768px) {
  .about-me,
  .contact-me {
    clip-path: none;
  }
}

@media (max-width: 576px) {
  .about-me-paragraph {
    text-align: center;
  }
  h1 {
    font-size: 30px;
  }
  .name {
    font-size: 40px;
  }
  .homepage-hero a,
  .about-me a {
    font-size: 15px;
  }
  .languages-list img {
    width: 50px;
    margin: 10px;
  }
  .social-media i {
    font-size: 1.5em;
    margin: 10px;
  }
  .contact-me {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
